In [1]:
#importing libraries for data cleaning
import numpy as np 
import pandas as pd

In [2]:
match_df = pd.read_csv('Dataset/matches.csv')
delivery_df =pd.read_csv('Dataset/deliveries.csv')

In [ ]:
match_df.head(6)

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
5,6,IPL-2017,Hyderabad,09-04-2017,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,9,Rashid Khan,"Rajiv Gandhi International Stadium, Uppal",A Deshmukh,NJ Llong,NaN

In [4]:
match_df.shape

(756, 18)

In [5]:
match_df.size

13608

In [6]:
match_df.columns

Index(['id', 'Season', 'city', 'date', 'team1', 'team2', 'toss_winner',
       'toss_decision', 'result', 'dl_applied', 'winner', 'win_by_runs',
       'win_by_wickets', 'player_of_match', 'venue', 'umpire1', 'umpire2',
       'umpire3'],
      dtype='object')

In [7]:
match_df.drop(['umpire1', 'umpire2', 'umpire3', 'player_of_match', 'toss_winner', 'toss_decision'], axis=1, inplace=True)

In [8]:
match_df.columns

Index(['id', 'Season', 'city', 'date', 'team1', 'team2', 'result',
       'dl_applied', 'winner', 'win_by_runs', 'win_by_wickets', 'venue'],
      dtype='object')

In [9]:
match_df

,id,Season,city,date,team1,team2,result,dl_applied,winner,win_by_runs,win_by_wickets,venue
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,normal,0,Sunrisers Hyderabad,35,0,"Rajiv Gandhi International Stadium, Uppal"
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,normal,0,Rising Pune Supergiant,0,7,Maharashtra Cricket Association Stadium
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,normal,0,Kolkata Knight Riders,0,10,Saurashtra Cricket Association Stadium
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,normal,0,Kings XI Punjab,0,6,Holkar Cricket Stadium
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,normal,0,Royal Challengers Bangalore,15,0,M Chinnaswamy Stadium
...,...,...,...,...,...,...,...,...,...,...,...,...
751,11347,IPL-2019,Mumbai,05-05-2019,Kolkata Knight Riders,Mumbai Indians,normal,0,Mumbai Indians,0,9,Wankhede Stadium
752,11412,IPL-2019,Chennai,07-05-2019,Chennai Super Kings,Mumbai Indians,normal,0,Mumbai Indians,0,6,M. A. Chidambaram Stadium
753,11413,IPL-2019,Visakhapatnam,08-05-2019,Sunrisers Hyderabad,Delhi Capitals,normal,0,Delhi Capitals,0,2,ACA-VDCA Stadium
754,11414,IPL-2019,Visakhapatnam,10-05-2019,Delhi Capitals,Chennai Super Kings,normal,0,Chennai Super Kings,0,6,ACA-VDCA Stadium
755,11415,IPL-2019,Hyderabad,12-05-2019,Mumbai Indians,Chennai Super Kings,normal,0,Mumbai Indians,1,0,Rajiv Gandhi Intl. Cricket Stadium

In [10]:
match_df.shape

(756, 12)

In [11]:
delivery_df.shape

(179078, 21)

In [12]:
delivery_df.drop(['bowler', 'is_super_over', 'dismissal_kind','fielder','wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs'], axis=1, inplace=True)

In [13]:
delivery_df.head(6)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,total_runs,player_dismissed
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,0,0,0,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,0,0,0,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,4,0,4,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,0,0,0,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,0,2,2,NaN
5,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,6,S Dhawan,DA Warner,0,0,0,NaN

In [14]:
delivery_df.shape

(179078, 12)

- total_run --> Runs scored

In [15]:
#total_score
total_score_df = (delivery_df.groupby(['match_id', 'inning']).sum()['total_runs'].reset_index())

In [16]:
total_score_df

      match_id  inning  total_runs
0            1       1         207
1            1       2         172
2            2       1         184
3            2       2         187
4            3       1         183
...        ...     ...         ...
1523     11413       2         170
1524     11414       1         155
1525     11414       2         162
1526     11415       1         152
1527     11415       2         157

[1528 rows x 3 columns]

In [17]:
total_score_df1 = total_score_df[total_score_df['inning'] == 1] #showing the first inning score

In [18]:
total_score_df1

      match_id  inning  total_runs
0            1       1         207
2            2       1         184
4            3       1         183
6            4       1         163
8            5       1         157
...        ...     ...         ...
1518     11347       1         143
1520     11412       1         136
1522     11413       1         171
1524     11414       1         155
1526     11415       1         152

[756 rows x 3 columns]

In [19]:
total_score_df[total_score_df['inning'] == 2] #showing the second inning score

      match_id  inning  total_runs
1            1       2         172
3            2       2         187
5            3       2         184
7            4       2         164
9            5       2         142
...        ...     ...         ...
1519     11347       2         137
1521     11412       2         140
1523     11413       2         170
1525     11414       2         162
1527     11415       2         157

[754 rows x 3 columns]

In [20]:
match_df = match_df.merge(total_score_df1[['match_id', 'total_runs']], left_on='id', right_on='match_id')

In [21]:
match_df

,id,Season,city,date,team1,team2,result,dl_applied,winner,win_by_runs,win_by_wickets,venue,match_id,total_runs
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,normal,0,Sunrisers Hyderabad,35,0,"Rajiv Gandhi International Stadium, Uppal",1,207
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,normal,0,Rising Pune Supergiant,0,7,Maharashtra Cricket Association Stadium,2,184
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,normal,0,Kolkata Knight Riders,0,10,Saurashtra Cricket Association Stadium,3,183
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,normal,0,Kings XI Punjab,0,6,Holkar Cricket Stadium,4,163
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,normal,0,Royal Challengers Bangalore,15,0,M Chinnaswamy Stadium,5,157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,11347,IPL-2019,Mumbai,05-05-2019,Kolkata Knight Riders,Mumbai Indians,normal,0,Mumbai Indians,0,9,Wankhede Stadium,11347,143
752,11412,IPL-2019,Chennai,07-05-2019,Chennai Super Kings,Mumbai Indians,normal,0,Mumbai Indians,0,6,M. A. Chidambaram Stadium,11412,136
753,11413,IPL-2019,Visakhapatnam,08-05-2019,Sunrisers Hyderabad,Delhi Capitals,normal,0,Delhi Capitals,0,2,ACA-VDCA Stadium,11413,171
754,11414,IPL-2019,Visakhapatnam,10-05-2019,Delhi Capitals,Chennai Super Kings,normal,0,Chennai Super Kings,0,6,ACA-VDCA Stadium,11414,155
755,11415,IPL-2019,Hyderabad,12-05-2019,Mumbai Indians,Chennai Super Kings,normal,0,Mumbai Indians,1,0,Rajiv Gandhi Intl. Cricket Stadium,11415,152

In [22]:
teams = list(match_df.team1.unique())

In [23]:
teams

['Sunrisers Hyderabad',
 'Mumbai Indians',
 'Gujarat Lions',
 'Rising Pune Supergiant',
 'Royal Challengers Bangalore',
 'Kolkata Knight Riders',
 'Delhi Daredevils',
 'Kings XI Punjab',
 'Chennai Super Kings',
 'Rajasthan Royals',
 'Deccan Chargers',
 'Kochi Tuskers Kerala',
 'Pune Warriors',
 'Rising Pune Supergiants',
 'Delhi Capitals']

'Sunrisers Hyderabad',
 'Mumbai Indians',
 'Gujarat Lions', --> 'Gujarat Titans'
 'Rising Pune Supergiant', --> no more
 'Royal Challengers Bangalore',
 'Kolkata Knight Riders',
 'Delhi Daredevils', --> 'Delhi Capitals'
 'Kings XI Punjab',
 'Chennai Super Kings',
 'Rajasthan Royals',
 'Deccan Chargers', --> 'Sunrisers Hyderabad'
 'Kochi Tuskers Kerala', --> no more
 'Pune Warriors', --> no more
 'Rising Pune Supergiants',
 'Delhi Capitals'

In [24]:
teams = ['Sunrisers Hyderabad',
 'Mumbai Indians',
 'Gujarat Titans',
 'Royal Challengers Bangalore',
 'Kolkata Knight Riders',
 'Delhi Capitals',
 'Kings XI Punjab',
 'Chennai Super Kings',
 'Rajasthan Royals']

In [ ]:
#now replacing Delhi Daredevils with Delhi Capitals in match_df dataframe
match_df['team1'] = match_df['team1'].str.replace('Delhi Daredevils', 'Delhi Capitals')
match_df['team2'] = match_df['team2'].str.replace('Delhi Daredevils', 'Delhi Capitals')

match_df['team1'] = match_df['team1'].str.replace('Deccan Chargers', 'Sunrisers Hyderabad')
match_df['team2'] = match_df['team2'].str.replace('Deccan Chargers', 'Sunrisers Hyderabad')

match_df['team1'] = match_df['team1'].str.replace('Gujarat Lions', 'Gujarat Titans')
match_df['team2'] = match_df['team2'].str.replace('Gujarat Lions', 'Gujarat Titans')

In [26]:
match_df['team1'].unique()

array(['Sunrisers Hyderabad', 'Mumbai Indians', 'Gujarat Titans',
       'Rising Pune Supergiant', 'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Delhi Capitals', 'Kings XI Punjab',
       'Chennai Super Kings', 'Rajasthan Royals', 'Kochi Tuskers Kerala',
       'Pune Warriors', 'Rising Pune Supergiants'], dtype=object)

In [27]:
match_df = match_df[match_df['team1']. isin(teams)]
match_df = match_df[match_df['team2']. isin(teams)]

In [28]:
match_df.team1.unique()

array(['Sunrisers Hyderabad', 'Gujarat Titans',
       'Royal Challengers Bangalore', 'Kolkata Knight Riders',
       'Kings XI Punjab', 'Delhi Capitals', 'Mumbai Indians',
       'Chennai Super Kings', 'Rajasthan Royals'], dtype=object)

In [29]:
match_df.shape

(667, 14)

In [30]:
match_df.head(6)

,id,Season,city,date,team1,team2,result,dl_applied,winner,win_by_runs,win_by_wickets,venue,match_id,total_runs
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,normal,0,Sunrisers Hyderabad,35,0,"Rajiv Gandhi International Stadium, Uppal",1,207
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Titans,Kolkata Knight Riders,normal,0,Kolkata Knight Riders,0,10,Saurashtra Cricket Association Stadium,3,183
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Capitals,normal,0,Royal Challengers Bangalore,15,0,M Chinnaswamy Stadium,5,157
5,6,IPL-2017,Hyderabad,09-04-2017,Gujarat Titans,Sunrisers Hyderabad,normal,0,Sunrisers Hyderabad,0,9,"Rajiv Gandhi International Stadium, Uppal",6,135
6,7,IPL-2017,Mumbai,09-04-2017,Kolkata Knight Riders,Mumbai Indians,normal,0,Mumbai Indians,0,4,Wankhede Stadium,7,178
7,8,IPL-2017,Indore,10-04-2017,Royal Challengers Bangalore,Kings XI Punjab,normal,0,Kings XI Punjab,0,8,Holkar Cricket Stadium,8,148

In [31]:
match_df.dl_applied.unique()

array([0, 1])

In [32]:
#dl_applied is 0 means normal match and 1 means duckworth lewis method applied
match_df.dl_applied.value_counts()

dl_applied
0    652
1     15
Name: count, dtype: int64

In [33]:
#removing dl_applied == 1
match_df = match_df[match_df['dl_applied']== 0] #therefore, we are doing reverse engineering we are keeping zero's and removing 1's indirectly

In [34]:
match_df.dl_applied.value_counts()

dl_applied
0    652
Name: count, dtype: int64

In [35]:
match_df = match_df[['match_id', 'city', 'winner', 'total_runs']]

In [36]:
delivery_df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,total_runs,player_dismissed
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,0,0,0,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,0,0,0,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,4,0,4,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,0,0,0,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,0,2,2,NaN

In [37]:
delivery_df = delivery_df[delivery_df['inning'] == 2]

In [38]:
delivery_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 86240 entries, 125 to 179077
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   match_id          86240 non-null  int64
 1   inning            86240 non-null  int64
 2   batting_team      86240 non-null  object
 3   bowling_team      86240 non-null  object
 4   over              86240 non-null  int64
 5   ball              86240 non-null  int64
 6   batsman           86240 non-null  object
 7   non_striker       86240 non-null  object
 8   batsman_runs      86240 non-null  int64
 9   extra_runs        86240 non-null  int64
 10  total_runs        86240 non-null  int64
 11  player_dismissed  4216 non-null   object
dtypes: int64(7), object(5)
memory usage: 8.6+ MB

In [39]:
delivery_df = match_df.merge(delivery_df, on='match_id')

In [40]:
delivery_df

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,total_runs_y,player_dismissed
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,1,0,1,NaN
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,0,0,0,NaN
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,0,0,0,NaN
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,2,0,2,NaN
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,4,0,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75335,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,1,0,1,NaN
75336,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,2,0,2,NaN
75337,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,1,0,1,SR Watson
75338,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,2,0,2,NaN
75339,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,0,0,0,SN Thakur

In [41]:
delivery_df.columns

Index(['match_id', 'city', 'winner', 'total_runs_x', 'inning', 'batting_team',
       'bowling_team', 'over', 'ball', 'batsman', 'non_striker',
       'batsman_runs', 'extra_runs', 'total_runs_y', 'player_dismissed'],
      dtype='object')

In [42]:
delivery_df.rename(columns = {'total_runs_x': 'total_runs',
                              'total_runs_y': 'ball_score'
                              }, inplace=True)

In [43]:
delivery_df.columns

Index(['match_id', 'city', 'winner', 'total_runs', 'inning', 'batting_team',
       'bowling_team', 'over', 'ball', 'batsman', 'non_striker',
       'batsman_runs', 'extra_runs', 'ball_score', 'player_dismissed'],
      dtype='object')

In [44]:
delivery_df['Score'] = delivery_df[['match_id', 'ball_score']].groupby('match_id').cumsum()['ball_score']

In [45]:
delivery_df.head()

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,ball_score,player_dismissed,Score
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,1,0,1,NaN,1
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,0,0,0,NaN,1
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,0,0,0,NaN,1
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,2,0,2,NaN,3
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,4,0,4,NaN,7

In [46]:
#new column target_left
delivery_df['target_left'] = (delivery_df['total_runs']+1) - delivery_df['Score']

In [47]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,ball_score,player_dismissed,Score,target_left
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,1,0,1,NaN,1,207
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,0,0,0,NaN,1,207
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,0,0,0,NaN,1,207
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,2,0,2,NaN,3,205
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,4,0,4,NaN,7,201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75335,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,1,0,1,NaN,152,1
75336,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,2,0,2,NaN,154,-1
75337,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,1,0,1,SR Watson,155,-2
75338,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,2,0,2,NaN,157,-4
75339,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,0,0,0,SN Thakur,157,-4

In [48]:
#balls remaininig
delivery_df['Remaining Balls'] = 120 - ((delivery_df['over'] - 1)*6 + delivery_df['ball'])

In [49]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,ball_score,player_dismissed,Score,target_left,Remaining Balls
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,1,0,1,NaN,1,207,119
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,0,0,0,NaN,1,207,118
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,0,0,0,NaN,1,207,117
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,2,0,2,NaN,3,205,116
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,4,0,4,NaN,7,201,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75335,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,1,0,1,NaN,152,1,4
75336,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,2,0,2,NaN,154,-1,3
75337,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,1,0,1,SR Watson,155,-2,2
75338,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,2,0,2,NaN,157,-4,1
75339,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,0,0,0,SN Thakur,157,-4,0

In [50]:
#how many wicktes are left out
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].fillna('0')

In [51]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,ball_score,player_dismissed,Score,target_left,Remaining Balls
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,1,0,1,0,1,207,119
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,0,0,0,0,1,207,118
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,0,0,0,0,1,207,117
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,2,0,2,0,3,205,116
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,4,0,4,0,7,201,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75335,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,1,0,1,0,152,1,4
75336,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,2,0,2,0,154,-1,3
75337,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,1,0,1,SR Watson,155,-2,2
75338,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,2,0,2,0,157,-4,1
75339,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,0,0,0,SN Thakur,157,-4,0

In [52]:
delivery_df['player_dismissed'] = delivery_df['player_dismissed'].apply(lambda x: x if x == '0' else 1).astype(int)

In [53]:
delivery_df.player_dismissed.value_counts()

player_dismissed
0    71660
1     3680
Name: count, dtype: int64

In [54]:
delivery_df[['match_id', 'player_dismissed']]

       match_id  player_dismissed
0             1                 0
1             1                 0
2             1                 0
3             1                 0
4             1                 0
...         ...               ...
75335     11415                 0
75336     11415                 0
75337     11415                 1
75338     11415                 0
75339     11415                 1

[75340 rows x 2 columns]

In [55]:
delivery_df['Wickets'] = delivery_df[['match_id', 'player_dismissed']].groupby('match_id').cumsum()['player_dismissed'].values

In [56]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,ball_score,player_dismissed,Score,target_left,Remaining Balls,Wickets
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,1,0,1,0,1,207,119,0
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,0,0,0,0,1,207,118,0
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,0,0,0,0,1,207,117,0
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,2,0,2,0,3,205,116,0
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,4,0,4,0,7,201,115,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75335,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,1,0,1,0,152,1,4,5
75336,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,2,0,2,0,154,-1,3,5
75337,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,1,0,1,1,155,-2,2,6
75338,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,2,0,2,0,157,-4,1,6
75339,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,0,0,0,1,157,-4,0,7

In [57]:
delivery_df['Wickets Left'] = 10 - delivery_df['Wickets']

In [58]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,non_striker,batsman_runs,extra_runs,ball_score,player_dismissed,Score,target_left,Remaining Balls,Wickets,Wickets Left
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,Mandeep Singh,1,0,1,0,1,207,119,0,10
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,CH Gayle,0,0,0,0,1,207,118,0,10
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,CH Gayle,0,0,0,0,1,207,117,0,10
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,CH Gayle,2,0,2,0,3,205,116,0,10
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,CH Gayle,4,0,4,0,7,201,115,0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75335,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,1,0,1,0,152,1,4,5,5
75336,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,2,0,2,0,154,-1,3,5,5
75337,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,1,0,1,1,155,-2,2,6,4
75338,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,2,0,2,0,157,-4,1,6,4
75339,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,0,0,0,1,157,-4,0,7,3

Current Run Rate  

$$Current \ run \ rate = \frac{Runs \ scored} {Number \ of \ Overs \ completed}$$

In [59]:
#current run rate
delivery_df['CRR'] = (delivery_df['Score']*6 / (120 - delivery_df['Remaining Balls']))

Required Run Rate  

$$Required \ run \ rate = \frac{Remaining \ scored \ or \ Target} {Number \ of \ Overs \ left}$$

In [60]:
#required run rate
delivery_df['RRR'] = (delivery_df['target_left']*6 / delivery_df['Remaining Balls'])

In [61]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,...,extra_runs,ball_score,player_dismissed,Score,target_left,Remaining Balls,Wickets,Wickets Left,CRR,RRR
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,0,1,0,1,207,119,0,10,6.000000,10.436975
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,0,0,0,1,207,118,0,10,3.000000,10.525424
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,0,0,0,1,207,117,0,10,2.000000,10.615385
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,0,2,0,3,205,116,0,10,4.500000,10.603448
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,0,4,0,7,201,115,0,10,8.400000,10.486957
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75335,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,...,0,1,0,152,1,4,5,5,7.862069,1.500000
75336,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,...,0,2,0,154,-1,3,5,5,7.897436,-2.000000
75337,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,...,0,1,1,155,-2,2,6,4,7.881356,-6.000000
75338,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,...,0,2,0,157,-4,1,6,4,7.915966,-24.000000
75339,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,...,0,0,1,157,-4,0,7,3,7.850000,-inf

In [62]:
#creating a new column result where 1 means won and 0 menas lost
def result(row):
    if row['batting_team'] == row['winner']:
        return 1
    else:
        return 0

In [63]:
delivery_df['result'] = delivery_df.apply(result, axis=1)

In [64]:
delivery_df

,match_id,city,winner,total_runs,inning,batting_team,bowling_team,over,ball,batsman,...,ball_score,player_dismissed,Score,target_left,Remaining Balls,Wickets,Wickets Left,CRR,RRR,result
0,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,1,0,1,207,119,0,10,6.000000,10.436975,0
1,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,0,0,1,207,118,0,10,3.000000,10.525424,0
2,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,0,0,1,207,117,0,10,2.000000,10.615385,0
3,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,2,0,3,205,116,0,10,4.500000,10.603448,0
4,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,4,0,7,201,115,0,10,8.400000,10.486957,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75335,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,...,1,0,152,1,4,5,5,7.862069,1.500000,0
75336,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,...,2,0,154,-1,3,5,5,7.897436,-2.000000,0
75337,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,...,1,1,155,-2,2,6,4,7.881356,-6.000000,0
75338,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,...,2,0,157,-4,1,6,4,7.915966,-24.000000,0
75339,11415,Hyderabad,Mumbai Indians,152,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,...,0,1,157,-4,0,7,3,7.850000,-inf,0

In [65]:
delivery_df.columns

Index(['match_id', 'city', 'winner', 'total_runs', 'inning', 'batting_team',
       'bowling_team', 'over', 'ball', 'batsman', 'non_striker',
       'batsman_runs', 'extra_runs', 'ball_score', 'player_dismissed', 'Score',
       'target_left', 'Remaining Balls', 'Wickets', 'Wickets Left', 'CRR',
       'RRR', 'result'],
      dtype='object')

In [66]:
model_df = delivery_df[['batting_team', 'bowling_team', 'city', 'Score', 'Wickets Left','Remaining Balls','target_left','CRR', 'RRR', 'result']]

In [67]:
model_df.isnull().sum()

batting_team         0
bowling_team         0
city               832
Score                0
Wickets Left         0
Remaining Balls      0
target_left          0
CRR                  0
RRR                  5
result               0
dtype: int64

In [68]:
#remove the city where record is missing
model_df[model_df['city'].isna()]

,batting_team,bowling_team,city,Score,Wickets Left,Remaining Balls,target_left,CRR,RRR,result
43674,Royal Challengers Bangalore,Mumbai Indians,NaN,0,10,119,116,0.000000,5.848739,1
43675,Royal Challengers Bangalore,Mumbai Indians,NaN,4,10,118,112,12.000000,5.694915,1
43676,Royal Challengers Bangalore,Mumbai Indians,NaN,5,10,117,111,10.000000,5.692308,1
43677,Royal Challengers Bangalore,Mumbai Indians,NaN,7,10,116,109,10.500000,5.637931,1
43678,Royal Challengers Bangalore,Mumbai Indians,NaN,7,10,115,109,8.400000,5.686957,1
...,...,...,...,...,...,...,...,...,...,...
45510,Mumbai Indians,Sunrisers Hyderabad,NaN,154,3,4,19,7.965517,28.500000,0
45511,Mumbai Indians,Sunrisers Hyderabad,NaN,154,3,3,19,7.897436,38.000000,0
45512,Mumbai Indians,Sunrisers Hyderabad,NaN,155,3,2,18,7.881356,54.000000,0
45513,Mumbai Indians,Sunrisers Hyderabad,NaN,156,3,1,17,7.865546,102.000000,0
45514,Mumbai Indians,Sunrisers Hyderabad,NaN,157,3,0,16,7.850000,inf,0

In [69]:
model_df.dropna(inplace=True)

/var/folders/yd/5brnphbd5q9d94mxbq_7w0c40000gn/T/ipykernel_50216/1813605825.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  model_df.dropna(inplace=True)

In [70]:
model_df.isnull().sum()

batting_team       0
bowling_team       0
city               0
Score              0
Wickets Left       0
Remaining Balls    0
target_left        0
CRR                0
RRR                0
result             0
dtype: int64

In [71]:
model_df.describe()

/Users/siddharthjain/Desktop/SJ/cuvette/python ML program/Add On Projects/IPL Prediction by me/ipl_env/lib/python3.13/site-packages/numpy/_core/_methods.py:51: RuntimeWarning: invalid value encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)

,Score,Wickets Left,Remaining Balls,target_left,CRR,RRR,result
count,74503.000000,74503.000000,74503.000000,74503.000000,74503.000000,7.450300e+04,74503.000000
mean,73.593641,7.539951,62.744252,93.300109,7.483927,NaN,0.535656
std,47.021034,2.137884,33.365914,50.199133,2.287416,NaN,0.498730
min,0.000000,0.000000,-2.000000,-15.000000,0.000000,-inf,0.000000
25%,34.000000,6.000000,35.000000,54.000000,6.289157,7.235294e+00,0.000000
50%,70.000000,8.000000,63.000000,93.000000,7.500000,8.963855e+00,1.000000
75%,109.000000,9.000000,92.000000,131.000000,8.750000,1.100000e+01,1.000000
max,223.000000,10.000000,119.000000,250.000000,42.000000,inf,1.000000

Since we are getting -inf and +inf in the rrr column that means as per the formula the number of balls remaning are 0. hence we will consider only those records where the remaining balss are not 0

In [72]:
model_df = model_df[model_df['Remaining Balls'] != 0]

In [73]:
model_df.describe()

,Score,Wickets Left,Remaining Balls,target_left,CRR,RRR,result
count,74262.000000,74262.000000,74262.000000,74262.000000,74262.000000,74262.000000,74262.000000
mean,73.318103,7.555129,62.947874,93.536088,7.482496,10.515160,0.537045
std,46.827172,2.122778,33.227690,50.098611,2.289951,13.860596,0.498629
min,0.000000,0.000000,-2.000000,-15.000000,0.000000,-516.000000,0.000000
25%,34.000000,6.000000,35.000000,54.000000,6.285714,7.230769,0.000000
50%,70.000000,8.000000,64.000000,93.000000,7.500000,8.953846,1.000000
75%,108.000000,9.000000,92.000000,131.000000,8.750000,10.978723,1.000000
max,222.000000,10.000000,119.000000,250.000000,42.000000,684.000000,1.000000

In [74]:
#shuffling the data so that the model does not learn the order of the data or become biased
model_df = model_df.sample(model_df.shape[0])

In [75]:
model_df.sample(5)

,batting_team,bowling_team,city,Score,Wickets Left,Remaining Balls,target_left,CRR,RRR,result
67677,Mumbai Indians,Delhi Daredevils,Delhi,58,9,83,129,9.405405,9.325301,0
47624,Kings XI Punjab,Sunrisers Hyderabad,Hyderabad,167,6,33,39,11.517241,7.090909,1
32057,Kolkata Knight Riders,Deccan Chargers,Cuttack,64,7,61,63,6.508475,6.196721,1
22363,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,61,9,72,100,7.625000,8.333333,1
24416,Kolkata Knight Riders,Chennai Super Kings,Chennai,65,9,65,89,7.090909,8.215385,0

In [76]:
model_df['batting_team'].unique()

array(['Mumbai Indians', 'Gujarat Lions', 'Chennai Super Kings',
       'Sunrisers Hyderabad', 'Kolkata Knight Riders', 'Rajasthan Royals',
       'Kings XI Punjab', 'Delhi Daredevils',
       'Royal Challengers Bangalore', 'Deccan Chargers', 'Delhi Capitals'],
      dtype=object)

In [77]:
model_df.replace('Gujarat Lions', 'Gujarat Titans', inplace=True)

In [78]:
model_df['batting_team'].unique()

array(['Mumbai Indians', 'Gujarat Titans', 'Chennai Super Kings',
       'Sunrisers Hyderabad', 'Kolkata Knight Riders', 'Rajasthan Royals',
       'Kings XI Punjab', 'Delhi Daredevils',
       'Royal Challengers Bangalore', 'Deccan Chargers', 'Delhi Capitals'],
      dtype=object)

In [79]:
model_df['bowling_team'].unique()

array(['Rajasthan Royals', 'Mumbai Indians',
       'Royal Challengers Bangalore', 'Chennai Super Kings',
       'Sunrisers Hyderabad', 'Kings XI Punjab', 'Deccan Chargers',
       'Kolkata Knight Riders', 'Delhi Daredevils', 'Gujarat Titans',
       'Delhi Capitals'], dtype=object)

In [80]:
#splitting the data into features and target
X = model_df.drop('result', axis=1)
y = model_df['result']

In [81]:
X

,batting_team,bowling_team,city,Score,Wickets Left,Remaining Balls,target_left,CRR,RRR
7639,Mumbai Indians,Rajasthan Royals,Mumbai,13,10,100,91,3.900000,5.460000
57171,Gujarat Titans,Mumbai Indians,Mumbai,71,8,62,73,7.344828,7.064516
20643,Chennai Super Kings,Royal Challengers Bangalore,Chennai,143,6,15,19,8.171429,7.600000
63667,Sunrisers Hyderabad,Chennai Super Kings,Hyderabad,29,7,89,158,5.612903,10.651685
2903,Kolkata Knight Riders,Sunrisers Hyderabad,Hyderabad,68,8,70,142,8.160000,12.171429
...,...,...,...,...,...,...,...,...,...
71375,Delhi Capitals,Kolkata Knight Riders,Kolkata,57,8,86,127,10.058824,8.860465
50632,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata,56,7,72,122,7.000000,10.166667
7736,Chennai Super Kings,Delhi Daredevils,Delhi,33,10,99,155,9.428571,9.393939
53460,Delhi Daredevils,Kings XI Punjab,Delhi,66,10,64,53,7.071429,4.968750
20959,Royal Challengers Bangalore,Kings XI Punjab,Chandigarh,92,8,49,90,7.774648,11.020408

In [82]:
y

7639     1
57171    1
20643    1
63667    0
2903     0
        ..
71375    1
50632    1
7736     1
53460    1
20959    1
Name: result, Length: 74262, dtype: int64

In [83]:
#spiltting the data into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)

In [84]:
X_train

,batting_team,bowling_team,city,Score,Wickets Left,Remaining Balls,target_left,CRR,RRR
20891,Royal Challengers Bangalore,Kings XI Punjab,Chandigarh,3,10,116,179,4.500000,9.258621
66934,Kolkata Knight Riders,Rajasthan Royals,Kolkata,21,9,108,124,10.500000,6.888889
46360,Kolkata Knight Riders,Delhi Daredevils,Delhi,28,10,101,133,8.842105,7.900990
5901,Rajasthan Royals,Royal Challengers Bangalore,Bangalore,119,8,33,17,8.206897,3.090909
68649,Mumbai Indians,Delhi Capitals,Mumbai,82,7,62,138,8.482759,13.354839
...,...,...,...,...,...,...,...,...,...
14189,Mumbai Indians,Deccan Chargers,Centurion,33,8,89,113,6.387097,7.617978
73360,Rajasthan Royals,Kolkata Knight Riders,Kolkata,5,10,113,181,4.285714,9.610619
62761,Royal Challengers Bangalore,Rajasthan Royals,Bengaluru,109,7,53,123,9.761194,13.924528
61755,Kings XI Punjab,Delhi Daredevils,Mohali,0,10,119,173,0.000000,8.722689
46687,Rajasthan Royals,Sunrisers Hyderabad,Ahmedabad,91,1,11,44,5.009174,24.000000

In [85]:
X_test

,batting_team,bowling_team,city,Score,Wickets Left,Remaining Balls,target_left,CRR,RRR
2891,Kolkata Knight Riders,Sunrisers Hyderabad,Hyderabad,50,8,82,160,7.894737,11.707317
9473,Rajasthan Royals,Kolkata Knight Riders,Kolkata,18,9,103,130,6.352941,7.572816
68176,Kolkata Knight Riders,Sunrisers Hyderabad,Kolkata,89,8,68,91,10.269231,8.029412
52746,Sunrisers Hyderabad,Mumbai Indians,Mumbai,44,10,92,114,9.428571,7.434783
11063,Chennai Super Kings,Mumbai Indians,Cape Town,82,7,49,84,6.929577,10.285714
...,...,...,...,...,...,...,...,...,...
8796,Mumbai Indians,Chennai Super Kings,Mumbai,113,9,55,44,10.430769,4.800000
33520,Kings XI Punjab,Rajasthan Royals,Chandigarh,85,6,40,93,6.375000,13.950000
13187,Kolkata Knight Riders,Mumbai Indians,East London,108,7,25,41,6.821053,9.840000
21397,Royal Challengers Bangalore,Delhi Daredevils,Delhi,40,9,80,145,6.000000,10.875000
32796,Rajasthan Royals,Delhi Daredevils,Delhi,70,10,57,83,6.666667,8.736842

In [86]:
y_train

20891    1
66934    1
46360    1
5901     1
68649    0
        ..
14189    0
73360    1
62761    0
61755    1
46687    0
Name: result, Length: 59409, dtype: int64

In [87]:
y_test

2891     0
9473     1
68176    0
52746    0
11063    0
        ..
8796     1
33520    0
13187    0
21397    0
32796    0
Name: result, Length: 14853, dtype: int64

In [88]:
#label encoding or one hot encoding (since no hirearchial data we shall use one hot encoding)
#transform non-numerical data into numerical data
from sklearn.compose import ColumnTransformer 
from sklearn.preprocessing import OneHotEncoder
trf = ColumnTransformer([
    ('trf', OneHotEncoder(sparse_output = False, drop = 'first'),['batting_team', 'bowling_team', 'city'])
], remainder = 'passthrough')

In [89]:
trf

ColumnTransformer(remainder='passthrough',
                  transformers=[('trf',
                                 OneHotEncoder(drop='first',
                                               sparse_output=False),
                                 ['batting_team', 'bowling_team', 'city'])])

In [90]:
#buikding the model
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

In [91]:
pipe = Pipeline(steps = [
    ('step1',trf),
    ('step2', LogisticRegression(solver = 'liblinear'))
])

In [92]:
pipe.fit(X_train, y_train)

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse_output=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [93]:
Y_pred = pipe.predict(X_test)

/Users/siddharthjain/Desktop/SJ/cuvette/python ML program/Add On Projects/IPL Prediction by me/ipl_env/lib/python3.13/site-packages/sklearn/utils/extmath.py:203: RuntimeWarning: divide by zero encountered in matmul
  ret = a @ b
/Users/siddharthjain/Desktop/SJ/cuvette/python ML program/Add On Projects/IPL Prediction by me/ipl_env/lib/python3.13/site-packages/sklearn/utils/extmath.py:203: RuntimeWarning: overflow encountered in matmul
  ret = a @ b
/Users/siddharthjain/Desktop/SJ/cuvette/python ML program/Add On Projects/IPL Prediction by me/ipl_env/lib/python3.13/site-packages/sklearn/utils/extmath.py:203: RuntimeWarning: invalid value encountered in matmul
  ret = a @ b

In [94]:
Y_pred

array([0, 1, 1, ..., 0, 0, 1], shape=(14853,))

In [95]:
#accuracy score
from sklearn.metrics import accuracy_score
accuracy_score(y_test, Y_pred)

0.8089948158621154

In [96]:
#Export the model
import pickle as pkl

In [97]:
pkl.dump(pipe, open('model.pkl', 'wb'))

In [98]:
teams

['Sunrisers Hyderabad',
 'Mumbai Indians',
 'Gujarat Titans',
 'Royal Challengers Bangalore',
 'Kolkata Knight Riders',
 'Delhi Capitals',
 'Kings XI Punjab',
 'Chennai Super Kings',
 'Rajasthan Royals']

In [99]:
pkl.dump(teams, open('teams.pkl','wb'))

In [100]:
cities = list(model_df['city'].unique())

In [101]:
cities.sort()

In [102]:
cities

['Abu Dhabi',
 'Ahmedabad',
 'Bangalore',
 'Bengaluru',
 'Bloemfontein',
 'Cape Town',
 'Centurion',
 'Chandigarh',
 'Chennai',
 'Cuttack',
 'Delhi',
 'Dharamsala',
 'Durban',
 'East London',
 'Hyderabad',
 'Indore',
 'Jaipur',
 'Johannesburg',
 'Kanpur',
 'Kimberley',
 'Kolkata',
 'Mohali',
 'Mumbai',
 'Nagpur',
 'Port Elizabeth',
 'Pune',
 'Raipur',
 'Rajkot',
 'Ranchi',
 'Sharjah',
 'Visakhapatnam']

In [103]:
pkl.dump(cities, open('city.pkl', 'wb'))

In [121]:
model_df.columns

Index(['batting_team', 'bowling_team', 'city', 'Score', 'Wickets Left',
       'Remaining Balls', 'target_left', 'CRR', 'RRR', 'result'],
      dtype='object')

In [122]:
X_train['batting_team'].unique()

array(['Royal Challengers Bangalore', 'Delhi Daredevils',
       'Rajasthan Royals', 'Kolkata Knight Riders', 'Chennai Super Kings',
       'Gujarat Lions', 'Sunrisers Hyderabad', 'Kings XI Punjab',
       'Deccan Chargers', 'Mumbai Indians', 'Delhi Capitals'],
      dtype=object)

In [124]:
model_df['batting_team'].unique()

array(['Delhi Daredevils', 'Deccan Chargers', 'Kings XI Punjab',
       'Mumbai Indians', 'Rajasthan Royals', 'Sunrisers Hyderabad',
       'Chennai Super Kings', 'Kolkata Knight Riders', 'Gujarat Lions',
       'Royal Challengers Bangalore', 'Delhi Capitals'], dtype=object)

In [125]:
delivery_df['batting_team'].unique()

array(['Royal Challengers Bangalore', 'Kolkata Knight Riders',
       'Delhi Daredevils', 'Sunrisers Hyderabad', 'Mumbai Indians',
       'Kings XI Punjab', 'Gujarat Lions', 'Rajasthan Royals',
       'Chennai Super Kings', 'Deccan Chargers', 'Delhi Capitals'],
      dtype=object)